body{
    background-color: #030712;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.nav-container p{
    /* 1. Pehle gradient ko background par apply karein */
  background: linear-gradient(90deg, #702ab2 0%, #995fd4 45%, #FFFFFF 100%);
  
  /* 2. Background ko sirf text ke andar kaat (clip) dein */
  -webkit-background-clip: text;
  background-clip: text;

  /* 3. Text ka apna color transparent karein taaki background dikhe */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Fallback */

  /* Extra styling taaki text sharp aur bada dikhe */
  /* font-size: 48px; */
  font-weight: bold;
  display: inline-block; 
  margin-left:65px ;
  margin-right:65px ;
}
.nav-container ul{
    display: flex;
    gap: 25px;
}
.nav-container li{
    list-style: none;
}
.nav-container a{
    text-decoration: none;
    color: white;
}

.hero-container{
    background-color: #030712;
    margin: 20px;
     border: 2px #030712 solid;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
    text-align: center;
}
.greeting{
    color:#A855F7 ;
    margin: 20px;
    margin-left: 70px;
    
}
.main-name {
  color: #FFFFFF;
   margin: 20px;
   margin-left: 70px;
}
.title-gradient{
    background: linear-gradient(90deg, #fa0680 0%, #8a3dd6 50%, #e81b82 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-yfill-color: transparent;
    color: transparent;
    margin: 20px;
    margin-left: 70px;
}
.subtitle {
  color: #38BDF8;
   margin: 20px;
   margin-left: 70px;
}
.profile{
    margin: 20px;
    margin-left: 70px;
}
.hero-btn{
    margin: 20px;
    margin-left: 70px;
}
.download,
.view-project{
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
    font-size:15px;
}
.download{
    border-radius:10px ;
    margin-right:10px;
    background: linear-gradient(90deg, #9d2eff 0%, #d63dbc 50%, #e81b82 100%);
    border: none;
    color: white;
}
.view-project{
    border-radius:10px ;
    border: 2px solid #d63dbc; 
    background-color: #030712;
    color: white;
}
.icons{
    margin: 20px;
    margin-left: 70px;
}
.icons i{
    color: white;
    border: 2px solid;
    padding: 10px;
    border-radius: 20px;
    margin-right: 15px;
}
hr{
    background-color: rgb(147, 16, 38);
}
.about-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-top: 30px;
    border: 2px #030712 solid;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
}
.about-card1{
    margin: 20px;
    margin-left: 70px;
}
.detailed{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 2px #030815;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
    justify-content: center; 
    align-items: center;
    margin: 40px;
    padding: 20px;
    gap: 20px;
    background-color: #030815;
}
.info{
    display: flex;
    
}    
.info i{
    border: 2px solid  #1C2541;
    margin: 19px;
    padding: 19px;
    border-radius: 10px;
    background: linear-gradient(180deg, #5B86E5 0%, #8A5CF6 50%, #A855F7 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-text1{
    background: linear-gradient(90deg, #ef2d8e 0%, #590fa3 50%, #e81b82 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-yfill-color: transparent;
    color: transparent;
    font-weight: bold;
}
.about-card1 h4{
    background: linear-gradient(90deg, #ef2d8e 0%, #590fa3 50%, #e81b82 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-yfill-color: transparent;
    color: transparent;
    font-weight: bold;
}
li::marker{
    color: #fa0680;
}
.skill-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: 2px solid white;
    padding: 30px;
    margin: 20px;
     border: 2px #030712 solid;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
    gap: 20px;
}
.skill-card{
    display: grid;
    gap: 25px;
    height: 400px;
    width: 600px;
    padding: 50px;
    border: 2px solid white;
    border: solid 2px #030815;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
}
.text1{
    text-align: center;
    background: linear-gradient(90deg, #ef2d8e 0%, #590fa3 50%, #e81b82 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-yfill-color: transparent;
    color: transparent;
    font-size: 21px;
    font-weight: bold;
}
.text2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.skill-info{
    display: grid;
    grid-template-columns: 
    50px 150px 200px 80px;
    align-items: center;
    gap: 15px;
}

.skill-info img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.progressbar{
    width: 100%;
    height: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
}

.progress{
    height: 100%;
    background-color: #582c85;
    border-radius: 20px;
}

/* Progress Widths */
.html{
    width: 85%;
}

.css{
    width: 60%;
}

.js{
    width: 60%;
}

.mysql{
    width: 50%;
}

.java{
    width: 70%;
}
.skill-currently{
    height: 400px;
    width: 600px;
    padding: 50px;
    border: solid 2px #030815;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
}
.skill-currently i{
    color: white
}
.skill-currently h3{
    background: linear-gradient(90deg, #ef2d8e 0%, #590fa3 50%, #e81b82 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-yfill-color: transparent;
    color: transparent;
    font-weight: bold;
    font-size: 25px;
}
.skill-name{
    background: linear-gradient(90deg, #ef2d8e 0%, #590fa3 50%, #e81b82 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-yfill-color: transparent;
    color: transparent;
    font-weight: bold;
    font-size: 25px;
}
.info-text{
    background: linear-gradient(90deg, #ef2d8e 0%, #590fa3 50%, #e81b82 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-yfill-color: transparent;
    color: transparent;
    font-weight: bold;
}
.project-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 2px solid white;
    padding: 25px;
    margin: 20px;
    border: solid 2px #030815;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
}
.project-card{
    border: 2px solid white;
    height: 150px;
    width: 150px;
    border: solid 2px #030815;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
    text-align: center;
}
.learner-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 2px solid white;
    padding: 25px;
    margin: 20px;
    border: solid 2px #030815;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
}
.learn-card{
    height: 200px;
    width: 300px;
    border: solid 2px #030815;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
}
.learn-card p{
    text-align: center;
}
.tech-cards{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 2px solid white;
    padding: 25px;
    margin: 20px;
    border: solid 2px #030815;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
    text-align: center;
}

.tech-card{
    height: 100px;
    width: 100px;
    border: solid 2px #030815;
    box-shadow: 0 0 20px #031238;
    border-radius: 10px;
    padding: 15px;
}
footer p{
    text-align: center;
}